
{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}

<div class="page-header">
  <div class="row align-items-center">
    <div class="col">
    <h1 class="page-header-title">Currency</h1>
    </div>
 

<div class="col-auto">
  <a class="btn btn-primary" href="javascript:;" data-bs-toggle="modal" data-bs-target="#NewUser">
    <i class="bi-plus-circle me-1"></i> Add New
  </a>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="NewUser" data-bs-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
      <h5 class="modal-title" id="staticBackdropLabel">Create New User</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.errors }}
        <div class="mb-3">
        <label class="form-label" for="username"></label>
        <!-- <input type="text" id="username" name="username" class="form-control" placeholder="User Name"> -->
        {{form.currency_title}}
        </div>
        
        <div class="mb-3">
        <label class="form-label" for="useremail"></label>
        <!-- <input type="email" id="useremail" name="useremail" class="form-control" placeholder="User Email"> -->
        {{form.code}}
        </div>
        
        <div class="mb-3">
        <label class="form-label" for="usermobile"></label>
        <!-- <input type="text" id="usermobile" name="usermobile" class="form-control" placeholder="User Mobile"> -->
        {{form.decimal_places}}
        </div>
        
        <div class="mb-3">
        <label class="form-label" for="userpassword"></label>
        <!-- <input type="text" id="userpassword" name="userpassword" class="form-control" placeholder="John Doe"> -->
        {{form.symbol}}
        </div>
        
        <div class="mb-3">
        <label class="form-label" for="useraddress"></label>
        <!-- <input type="text" id="useraddress" name="useraddress" class="form-control" placeholder="John Doe"> -->
        {{form.status}}
        </div>
   
      <div class="modal-footer">
      <button type="button" class="btn btn-white" data-bs-dismiss="modal">Close</button>
      <button type="submit" name="AddNewUser" class="btn btn-primary">Add</button>
      </div>
      </form>
    </div>
    </div>
    </div>
  </div>


<div class="row justify-content-lg-center mt-5">
    <div class="col-lg-12">
        <div class="card">
          <!-- Header -->
          <div class="card-header">
            <div class="row justify-content-between align-items-center flex-grow-1">
              <div class="col-12 col-md">
                <div class="d-flex justify-content-between align-items-center">
                  <h5 class="card-header-title">Currency</h5>
                </div>
              </div>

              <div class="col-auto">
                <!-- Filter -->
                <form>
                  <!-- Search -->
                  <!-- <div class="input-group input-group-merge input-group-flush">
                    <div class="input-group-prepend input-group-text">
                      <i class="bi-search"></i>
                    </div>
                    <input id="datatableWithSearchInput" type="search" class="form-control" placeholder="Search User" aria-label="Search User">
                  </div> -->
                  <!-- End Search -->
                </form>
                <!-- End Filter -->
              </div>
            </div>



            <!-- Table -->
             <div class="table-responsive datatable-custom">
            <table class="js-datatable table table-borderless table-thead-bordered table-nowrap table-align-middle card-table"
                data-hs-datatables-options='{
                        "order": [],
                        "search": "#datatableWithSearchInput",
                        "isResponsive": false,
                        "isShowPaging": true,
                        "pagination": "datatablePagination" -->
                         }'> 
            <thead class="thead-light">
            <tr class="text-center">
                <th>Currency Title</th>
                <th>Code</th>
                <th>Decimal Places</th>
                <th>Symbol</th>
                <th>Status</th>
                <th>Action</th>
            </thead>

            <tbody>
               {% for currency in current %}                     
            <tr class="text-center">
                <td><img class="avatar-img" src="" alt="">{{currency.currency_title}}</td>
                <td class="text-center">
                    <a class="d-flex justify-content-center" href="user-view.php?user=1">
                    <div class="d-block fs-5 text-body">
                        {{currency.code}}
                    </div>
                    <div class="ms-3">
                        <!-- <span class="d-block fs-5 text-inherit mb-0">Web Admin </span> -->
                        
                    </div>
                    </a>
                </td>
                
                <td><span class="d-block fs-5 text-body"></span>{{currency.decimal_places}}</td>
                <td>{{currency.symbol}}</td>
                
                
                <td class="text-center">
                    <div class="btn-group" role="group">
                         {{currency.status}}
                    </div>	
                </td>
                <td class="text-center">
                    <div class="btn-group" role="group">
                        <a class="btn btn-white btn-sm" href="#">
                        <i class="bi-pencil-fill me-1"></i> Edit
                        </a>

                        <!-- Button Group -->
                        <div class="btn-group">
                        <button type="button" class="btn btn-white btn-icon btn-sm dropdown-toggle dropdown-toggle-empty" id="productsEditDropdown8" data-bs-toggle="dropdown" aria-expanded="false"></button>

                        <div class="dropdown-menu dropdown-menu-end mt-1" aria-labelledby="productsEditDropdown8">
                            <a class="dropdown-item" href="#">
                            <i class="bi-eye dropdown-item-icon"></i> View
                            </a>
                            <a class="dropdown-item" href="#">
                            <i class="bi-fingerprint dropdown-item-icon"></i> Reset Password
                            </a>
                            <a class="dropdown-item" href="#">
                            <i class="bi-lock dropdown-item-icon"></i> Suspend User
                            </a>
                        </div>
                        </div>
                        <!-- End Button Group -->
                    </div>	
                </td>
                
            </tr>
                      
            {% endfor %}
        </tbody>

    </table>
    </div>


    </div>
    </div>
  </div>
</div>
    
            



{% endblock %}