{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}


<div class="page-header">
  <div class="row align-items-center">
    <div class="col">
    <h1 class="page-header-title">Stock</h1>
    </div>
 

<div class="col-auto">
  <a class="btn btn-primary" href="javascript:;" data-bs-toggle="modal" data-bs-target="#NewUser">
    <i class="bi-plus-circle me-1"></i> Add New
  </a>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="NewUser" data-bs-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
      <h5 class="modal-title" id="staticBackdropLabel">Create New </h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      <form action="" method="post" enctype="multipart/form-data">
        
        {% csrf_token %}
        {{ form.errors }}
        <div class="mb-3">
        <label class="form-label" for="username"></label>
        <!-- <input type="text" id="username" name="username" class="form-control" placeholder="User Name"> -->
        {{form.status}}
        </div>
        
      
      <div class="modal-footer">
      <button type="button" class="btn btn-white" data-bs-dismiss="modal">Close</button>
      <button type="submit" name="AddNewUser" class="btn btn-primary">Add</button>
      </div>
      </form>
    </div>
    </div>
    </div>
  </div>


<div class="row justify-content-lg-center mt-5">
    <div class="col-lg-12">
        <div class="card">
          <!-- Header -->
          <div class="card-header">
            <div class="row justify-content-between align-items-center flex-grow-1">
              <div class="col-12 col-md">
                <div class="d-flex justify-content-between align-items-center">
                  <h5 class="card-header-title">Stock Status</h5>
                </div>
              </div>

              <div class="col-auto">
                <!-- Filter -->
                <form>
                  <!-- Search -->
                  <div class="input-group input-group-merge input-group-flush">
                    <div class="input-group-prepend input-group-text">
                      <i class="bi-search"></i>
                    </div>
                    <input id="datatableWithSearchInput" type="search" class="form-control" placeholder="Search User" aria-label="Search User">
                  </div>
                  <!-- End Search -->
                </form>
                <!-- End Filter -->
              </div>
            </div>



            <!-- Table -->
            <div class="table-responsive datatable-custom">
            <table class="js-datatable table table-borderless table-thead-bordered table-nowrap table-align-middle card-table"
                data-hs-datatables-options='{
                        "order": [],
                        "search": "#datatableWithSearchInput",
                        "isResponsive": false,
                        "isShowPaging": true,
                        "pagination": "datatablePagination"
                        }'>
            <thead class="thead-light">
            <tr class="text-center">
                <th>Stock Status Name</th>
                <th>Action</th>
                
                
            </thead>

            <tbody>
              {% for stock in stocks %}               
            <tr class="text-center">
                <td>{{stock.status}}</td>
                <td class="text-center">
                  <div class="btn-group" role="group">
                    <a class="btn btn-white btn-sm"data-bs-toggle="modal" href="javascript:;" data-bs-target="#NewUser">
                    <i class="bi-pencil-fill me-1"></i> Edit
                    </a>
                    <div class="modal fade" id="NewUser" data-bs-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Create</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                        <form action="adminaction.php" method="post" enctype="multipart/form-data">
                          
                          <div class="mb-3">
                          <!-- <label class="form-label" for="username">Role Name</label>
                          <input type="text" id="username" name="username" class="form-control" placeholder="Role Name"> -->
                          
                          
                          
                          
                          <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
                          <script src="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.jquery.min.js"></script>
                          <link href="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.min.css" rel="stylesheet"/>
                          
                          <form action="http://httpbin.org/post" method="post">
                            <div class="mb-3">
                              <!-- <label class="form-label" for="username">User Name</label> -->
                              <input type="text" id="username" name="username" class="form-control" placeholder="edit">
                              </div>
                          </form>
                        </div>
                          
            
            
            
                          
                          
                          
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-white" data-bs-dismiss="modal">Close</button>
                        <button type="submit" name="AddNewUser" class="btn btn-primary">Add User</button>
                        </div>
                        </form>
                      </div>
                      </div>
                    </div>
                </div>	
                </td>
                
                
            </tr>
            {% endfor %}
        </tbody>

    </table>
    </div>


    </div>
    </div>
  </div>
</div>
    
                                    
            


{% endblock %}


