
{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}

<div class="page-header">
  <div class="row align-items-center">
    <div class="col">
    <h1 class="page-header-title">Users</h1>
    </div>
 

<div class="col-auto">
  <a class="btn btn-primary" href="javascript:;" data-bs-toggle="modal" data-bs-target="#NewUser">
    <i class="bi-plus-circle me-1"></i> New User
  </a>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="NewUser" data-bs-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
      <h5 class="modal-title" id="staticBackdropLabel">Create New User</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.errors }}
          
        <!-- <div class="mb-3">
        <label class="form-label" for="username"></label>
        <!-- <input type="text" id="username" name="username" class="form-control" placeholder="User Name"> -->
        
        <!-- </div> -->
        
        <div class="mb-3">
        <label class="form-label" for="useremail">Full Name</label>
        <!-- <input type="email" id="useremail" name="useremail" class="form-control" placeholder="User Email"> -->
        {{form.full_name}}
        </div>
        
        <div class="mb-3">
        <label class="form-label" for="usermobile">Email</label>
        <!-- <input type="text" id="usermobile" name="usermobile" class="form-control" placeholder="User Mobile"> -->
        {{form.email}}
        </div>
      
        <div class="mb-3">
        <label class="form-label" for="userpassword">Role</label>
        <!-- <input type="text" id="userpassword" name="userpassword" class="form-control" placeholder="John Doe"> -->
        {{form.role}}
        </div>
        
      
      <div class="modal-footer">
      <button type="button" class="btn btn-white" data-bs-dismiss="modal">Close</button>
      <button type="submit" name="AddNewUser" class="btn btn-primary">Add User</button>
      </div>
    </form> 
  </div>
    
    </div>
    </div>
  </div>



<div class="row justify-content-lg-center mt-5">
    <div class="col-lg-12">
        <div class="card">
          <!-- Header -->
          <div class="card-header">
            <div class="row justify-content-between align-items-center flex-grow-1">
              <div class="col-12 col-md">
                <div class="d-flex justify-content-between align-items-center">
                  <h5 class="card-header-title">User</h5>
                </div>
              </div>
              

              <div class="col-auto">
                <!-- Filter -->
                <form>
                  <!-- Search -->
                  <div class="input-group input-group-merge input-group-flush">
                    <div class="input-group-prepend input-group-text">
                      <i class="bi-search"></i>
                    </div>
                    <input id="datatableWithSearchInput" type="search" class="form-control" placeholder="Search User" aria-label="Search User">
                  </div>
                  <!-- End Search -->
                </form>
                <!-- End Filter -->
              </div>
            </div>



            <!-- Table -->
            <div class="table-responsive datatable-custom">
            <table class="js-datatable table table-borderless table-thead-bordered table-nowrap table-align-middle card-table"
                data-hs-datatables-options='{
                        "order": [],
                        "search": "#datatableWithSearchInput",
                        "isResponsive": false,
                        "isShowPaging": true,
                        "pagination": "datatablePagination"
                        }'>
            <thead class="thead-light">
            <tr class="text-center">
                <th>User ID</th>
                <th>Full Name</th>
                <th>Email</th>
                <th>Role</th>
                <th>Action</th>
            </thead>
            {% for customer in user %}
            <tbody>
                                    
            <tr class="text-center">
                <td>{{customer.id}}</td>
                <td >
                    {{customer.full_name}}
                    
                </td>
                
                <td><span class="d-block fs-5 text-body">{{customer.email}}</span></td>
                <td><span class="d-block fs-5 text-body">{{customer.role}}</span></td>
                
                
                <td class="text-center">
                    <div class="btn-group" role="group">
                        <a class="btn btn-white btn-sm" href="#">
                        <i class="bi-pencil-fill me-1"></i> Edit
                        </a>

                        <!-- Button Group -->
                        <div class="btn-group">
                        <button type="button" class="btn btn-white btn-icon btn-sm dropdown-toggle dropdown-toggle-empty" id="productsEditDropdown8" data-bs-toggle="dropdown" aria-expanded="false"></button>

                        <div class="dropdown-menu dropdown-menu-end mt-1" aria-labelledby="productsEditDropdown8">
                            <a class="dropdown-item" href="">
                            <i class="bi-eye dropdown-item-icon"></i> View
                            </a>
                            <a class="dropdown-item" href="#">
                            <i class="bi-fingerprint dropdown-item-icon"></i> Reset Password
                            </a>
                            <a class="dropdown-item" href="#">
                            <i class="bi-lock dropdown-item-icon"></i> Suspend User
                            </a>
                        </div>
                        </div>
                        <!-- End Button Group -->
                    </div>	
                </td>
            </tr>
            {% endfor %}        
              
            </tbody>

          </table>
          </div>


          </div>
          </div>
        </div>
    </div>
          



{% endblock %}